body{
    background-color: #fafafa;
    font-family: 'PT Sans', sans-serif;
}

@font-face {
   font-family: ContentFont;
   src: url(fonts/RSU_Text_Regular.ttf);
}
/* font-family: ContentFont; */
.image {
 	position:relative;
}

.image .text {
    position:absolute;
    top:40%;
    left:50%;
    width:100%;
    color: white;
}

a.darken {
 	display: inline-block;
    background: black;
    padding: 0;
}

a.darken img {
    display: block;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

a.darken:hover img {
    opacity: 0.7;
}

.my-container{
    margin-left:4%;
    margin-right:4%;
    margin-top:5px;
}

.topic{
    margin-left: 10px;
}

.review{
    margin-bottom:5px;
}

.review-head{
    margin-top: 10px;
    margin-bottom:5px;
}

.smooth{
    border-radius: 10px;
}

.register{
    background-image: url("../imgs/register_bg.jpg");
    background-attachment: fixed;
}

.login{
    background-image: url("../imgs/login_bg.jpg");
    background-attachment: fixed;
}

.review-Bg{
    background-image: url("../imgs/review_bg.jpg");
    background-attachment: fixed;
}

.topic-img{
    height:275px;
    width:100%;
    overflow: hidden;
    background-size: 100% 100%;
    -webkit-filter: brightness(100%);
    /*background:url(http://www.antiochsb.edu/wp-content/uploads/2015/03/Women-Leadership05-1024x333.jpg) no-repeat*/
}
.review-cover-img{
    height: 300px;
}
.topic-img:hover{
    -webkit-filter: brightness(120%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
   
}
.review-row{
    margin-bottom: 1%;
}

.slider-wrapper{
    margin-bottom:10px;
}
.slider-content{
    margin-top:35px;
}
.index-show-topic{
    margin-bottom:0px;
    word-wrap: break-word;
}
.topic-bg-1{
    height: 150px;
}
.topic-bg-2{
    height: 135px;
}
.topic-title1{
    padding-top:70px;
}

.topic-title2{
    padding-top:10px;
}
.topic-title3{
    padding-top: 100px;
}
.new-small{
    padding-right:0px;
    padding-left:0px;
}
.second-topic{
    margin-top:25px;
    margin-left:10px;
}

.auto-newline{
    word-wrap: break-word;
}

.comment{
    margin-top: 1%;
    margin-bottom: 0px;
}

.form-input{
    border-radius: 10px;
}

#reportReason{
    height:70%;
    resize: none;
}
.topic-text{
    margin-top:50px;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../imgs/loading2.gif') 50% 50% no-repeat rgb(249,249,249);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.comment-row{
    margin-bottom:0px;
    margin-top:0px;
}

.zero-m-bottom{
    margin-bottom: 0px;
}